@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div>
    <!-- Crousal -->
    <div class="container-fluid" style="max-height:auto; max-width:90%;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/Assests/c1.jpg" class="d-block w-100 " alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Assests/c2.jpg" class="d-block w-100 " alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Assests/summer_cover_2_2048x.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="container mt-5" >
            
        <div class="text-center">
            <h1>Checkout Our Men's Collection </h1>
        </div>
        <br />
           <div class="row" >
               <div class="col-2">
                </div>
                <div class="col-5">
                    <a asp-action="Men" asp-controller="Customer">
                        <img src="~/Images/Products/mens black.webp"  style="height:100%;width:100%;" alt="category" />
                    </a>
                </div>
                <div class="col-5">
                    <a asp-action="Men" asp-controller="Customer">
                        <img src="~/Images/Products/jjms-3005_grey_.webp" style="max-height:50%;max-width:49%;" alt="category" />
                    </a>
                    <br /><br />
                    <a asp-action="Men" asp-controller="Customer">
                        <img src="~/Images/Products/jjms-3001_midnight_blue_.webp" style="max-height:50%;max-width:49%;" alt="category" />
                    </a>
                </div>
           </div>
    </div>


    <div class="container mt-5" >
            
        <div class="text-center">
            <h1>Checkout Our Women's Collection </h1>
        </div>
        <br />

           <div class="row" >
               <div class="col-2">

               </div>
                <div class="col-5">
                    <a asp-action="Women" asp-controller="Customer">
                        <img src="~/Images/Products/22-651_1_.webp"  style="height:100%;width:100%;" alt="category" />
                    </a>
                </div>
                <div class="col-5">
                    <a asp-action="Women" asp-controller="Customer">
                        <img src="~/Images/Products/22-357.webp" style="max-height:50%;max-width:49%;" alt="category" />
                    </a>
                    <br /><br />
                    <a asp-action="Women" asp-controller="Customer">
                        <img src="~/Images/Products/jss-22-414-1_1_.webp" style="max-height:50%;max-width:49%;" alt="category" />
                    </a>
                </div>
           </div>
    </div>
</div>



<script>
function show() {
    alert("@ViewBag.OrderConfirm");
}

</script>
