<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fashion Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FashionStore.WebUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-family: Helvetica;">
    <header>
        <marquee class="bg-black text-white" style="font-size:14px;">
            For a smoother delivery process, all local orders consisting of Women's Unstitched items will be split into two separate orders. Women's Unstitched items will be delivered in a separate package and items from all other categories will be delivered together
        </marquee>

        <div class="row bg-white" style="font-size:14px;">
            <div class="offset-1 col-3 text-black">
                <i class="text-info fa fa-phone"></i> Call Us: +(92)-3084299454
            </div>
            <div class="offset-1 col-4 text-black">
                Free Shipping on all local orders worth Rs. 2000 & above <i class="text-danger fa fa-truck"></i>
            </div>
            <div class="offset-2 col-1 text-black">
                <a class="text-dark" asp-action="Checkout" asp-controller="Cart"> Cart <i class="ml-1 text-black fa fa-shopping-cart"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light mt-1 mb-5" style="background-color:whitesmoke">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Customer/Homepage"> Fashion Store </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Customer/Homepage">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Customer/Men"> Men's </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Customer/Women"> Women's </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Customer/Fragrances">Fragrances </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Customer/Kids">Kids </a>
                        </li>
                    </ul>
                    @if (ViewBag.Name != null)
                    {
                        <form class="d-flex">
                            <a class="btn-warning m-1 btn-sm btn" style="font-size:15px;" asp-controller="User" asp-action="Profile">
                                <svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg> @ViewBag.Name
                            </a>
                            <a class="btn-danger m-1 btn-sm btn" style="font-size:15px;" asp-controller="User" asp-action="Logout">
                                Logout
                                <svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                                </svg>
                            </a>
                        </form>
                    }
                    else
                    {
                        <form class="d-flex">
                            <a class="btn-primary m-1 btn-sm btn" style="font-size:15px;" asp-controller="User" asp-action="Login">
                                <svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg> Login
                            </a>
                            <a class="btn-warning m-1 btn-sm btn" style="font-size:15px;" asp-controller="User" asp-action="SignUp">
                                Register <i class="fa fa-pencil"></i>
                            </a>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>

    <br />
    <br />
    <div class="bg-dark container pt-2">
        <div class="container p-3">
            <div class="intro text-center">
                <h4 class="text-white">BE THE FIRST</h4>
                <p class=" text-white"> New arrivals. Exclusive previews. First access to sales. Sign up to stay in the know.  </p>
            </div>

            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <form class="form-inline text-center" method="post">
                        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Example@id.com"></div>
                        <br />
                        <div class="form-group"><button class="btn btn-light text-dark" type="submit">Subscribe <i class="fa fa-envelope"></i></button></div>
                    </form>
                </div>
                <div class="col-2">
                </div>
            </div>

        </div>
    </div>


    <footer class=" mt-5 bg-white text-dark text-center text-lg-start">
        <!-- Grid container -->
        <div class="p-4 container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-black">Fashion Store</h5>

                    <p>
                       Fashion store is one of the top wholesale clothing manufacturers and suppliers company offering custom, bulk order options of global wholesale clothes.Fashion store is one of the top wholesale clothing manufacturers and suppliers company offering custom, bulk order options of global wholesale clothes.bulk order options of global wholesale clothes clothes.
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Social</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.Instagram.com" class="text-dark "> Instagram  </a>
                        </li>
                        <li>
                            <a href="https://www.Facebook.com" class="text-dark "> Facebook </a>
                        </li>
                        <li>
                            <a href="https://www.Linkedin.com" class="text-dark"> LinkedIn </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="text-dark"> Twitter</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-1">Links</h5>

                    <ul class="list-unstyled  mb-0">
                        <li>
                            <a href="~/Customer/Men" class="text-dark">Men's</a>
                        </li>
                        <li>
                            <a href="~/Customer/Women" class="text-dark">Women's</a>
                        </li>
                        <li>
                            <a href="~/Customer/Kids" class="text-dark">Kids</a>
                        </li>
                        <li>
                            <a href="~/Customer/Fragrances" class="text-dark">Fragrances</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © @DateTime.Now.ToString("MM/dd/yy") Copyright:
            <a class="text-dark" href="#">CodeHub.NET</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function myFunction() {
            alert("Our agent will contact you soon thanks for your order!");
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
