<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fashion Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FashionStore.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="">                
                @RenderBody()
            </div>        
        </main>
    </div>

    <section class="">
      <footer class="bg-secondary fixed-bottom text-white text-center text-md-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © @DateTime.Now.Year.ToString() Copyright:
          <a class="text-white" href="#">CodeHub.NET</a>
        </div>
      </footer>
    </section>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
